<h1>Listing posts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Headline</th>
    <th>Body</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.user_id %></td>
    <td><%=h post.headline %></td>
    <td><%=h post.body %></td>
    <td><%=h post.created_at %></td>
    <td><%=h post.updated_at %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>